<style media="screen">
  #Angela{
    color:pink;
  }
  i{
    color:grey;
  }
</style>
<div class=" b" style="width:100%; padding-left:3px;">
  <div class="form-row">
    <div class="col-md-6">
      <center><h1>About Angela</h1></center>
      <p><span id="Angela">Angela</span> is a voice assistant like Siri for Apple or Alexa for Amazon. However, <span id="Angela">Angela</span> is specific to Point Park University. The goal of Robot Helper is to make accessing information easier for point park community, here on campus</p>
      <center><h1>What can <span id="Angela">Angela</span> do?</h1></center>
      Robot Helper can do the following, so far:
      <li>Show Courses Information </li>
      <li>Show Location Information </li>
      <li>Show Teachers Office Hours </li>
      <li>Show Events On Campus </li>
      <li>Show Weather Information </li>
      <li>Show Time </li>
      <li>Respond to Some Greetings </li>
    </div>
    <div class="col-md-6">
      <center><h1>Things <span id="Angela">Angela</span> Understands</h1> </center>
        <li><span id="Angela">Angela</span>, Show all courses </li>
        <li><span id="Angela">Angela</span>, Show all Locations </li>
        <li><span id="Angela">Angela</span>, Show all Office Hours </li>
        <li><span id="Angela">Angela</span>, Show all events </li>
        <li><span id="Angela">Angela</span>, Where is Financial Aids</li>
        <li><span id="Angela">Angela</span>, Where is the library</li>
        <li><span id="Angela">Angela</span>,  Find my class web application development</li>
        <li><span id="Angela">Angela</span>,  Show today events</li>
        <li><span id="Angela">Angela</span>,  Show tomorow events</li>
        <li><span id="Angela">Angela</span>,  Events on December 16th</li>
        <li><span id="Angela">Angela</span>,  Go back <i>for navigation on the page</i> </li>
        <li><span id="Angela">Angela</span>,  Scroll down <i>for navigation on the page</i> </li>
        <li><span id="Angela">Angela</span>,  Scroll up <i>for navigation on the page</i> </li>
        <li><span id="Angela">Angela</span>,  Scroll to the bottom <i>for navigation on the page</i> </li>
        <li><span id="Angela">Angela</span>,  Scroll to the top <i>for navigation on the page</i> </li>
        <li><span id="Angela">Angela</span>,  Scroll continuously <i> for navigation on the page</i> </li>
        <li><span id="Angela">Angela</span>,  Stop <i>to stop scrolling the view when scrolling continuously</i> </li>
        <li><span id="Angela">Angela</span>,  I am looking for somewhere to eat</li>
        <li><span id="Angela">Angela</span>,  I am looking for somewhere to workout</li>
        <li><span id="Angela">Angela</span>,  Somewhere for IDs <i>(IDs stands for identification cards)</i> </li>
    </div>
</div>



</div>

<script type="text/javascript">
  engine.speak(" ");
</script>
